.user-card {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.user-photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}

.user-detail {
  font-size: 14px;
}

@media (max-width: 768px) {
  .user-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
}